.pos {
    width: 10px;
}

.color {
    
&-1{
    width: 20px;
    height: 1rem;
    background-color: red;
}

.id-num {

}


}

.titulo_lista{
    font-size: 1rem;
}

.title-edit-menu{
    padding-top: .3rem;
    @include breakpoint(medium){ 
        opacity: .5;
        }

    
    a{
        color: $dark-gray;

        &:hover{
            color: $primary-color;
        }
    }

    .borrar {
        a{
            color: red;
        }
    }

    .editar-tag {
        float: right;
    }

    &:hover{
        opacity: 1;
    }

    &__disabled {
        opacity: .2;
        text-decoration: line-through;

        &:hover{
            opacity: .2;
            pointer-events: none;
        }    
    }

     
 
}
.tag-length {
    width: 20%;
}
.tag-list {
    font-size: .7rem;
    a{
        background-color: $light-gray;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: 3px;
        display: inline-block;

        &:hover{
            background-color: darken($light-gray, 10%);
        }

    }
}

table {

    td {
        border-right: solid 1px $light-gray;
        vertical-align: top;
    }
}

.remover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: all .2s;
    margin-top: .5rem;

    &:hover {
        transform: translate(0px,-2px)
    }

    .fas {
        color: $white;
    }
}
