.img-box {
    position: relative;
}

.image {
    position: relative;
    // border: solid 1px $light-gray;
    padding: .5rem;
    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px transparent;

    &:hover {
        border: solid 2px $medium-gray;
        cursor: pointer;
    }

    .check {
        display: block;
        background-color: $white;
        border: solid 3px $medium-gray;
        // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
        width: 25px;
        height: 25px;
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 50;
        transition: all .2s;

        &:hover {
            border: solid 3px $primary-color;
            background-color: lighten($primary-color, 50)
        }
    }
    

    &__thumbnail{
        width: 100%;
        padding-bottom: 100%;
        background-color: $light-gray;
        overflow: hidden;
        position: relative;
        
        
       

        img{
            position: absolute;
            object-fit: contain;
            height: 100%;
            width: 100%;
            
            
        }
    }

    .file_field{
        padding-top: .5rem;
        color: $darker-gray;
        margin-bottom: .5rem;
    }

    .folder_field{
        background-color: lighten($primary-color, 50);
        display: inline-block;
        border-radius: 15px;
        padding: 0 .8rem;
    }

}

.checkbox {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 1rem;
    z-index: 50;

    input[type="checkbox"]{
        margin: 0;
        padding: 0;

    }
}

.imageModal{
    padding: 0;
    position: relative;
    ul{
        list-style: none;
    }
    .title {
        border-bottom: solid 1px $medium-gray;
        padding: .5rem;
        background-color: $light-gray;
        font-size: 1.2rem;
    }

   .image-selected {
       @include breakpoint(medium){
        height: 80vh;
       }
       
       padding: 1rem;
       border-right: solid 1px $light-gray;
       background-color: $lighter-gray;

       img{
          background-color: $white;
          padding: .3rem;
          border: solid 1px $medium-gray;
          max-height: 100%;
       }
   }
    
   .image-detail {
       border-bottom: 1px solid $light-gray;
       padding: 1rem;
   }

   .image-attached{
       padding: 1rem;

   }

   .bottom-buttons{
       position: absolute;
       bottom: 0;
   }
}