.menu {
  color: $white;

  .user-name{
    
    border-radius: 3px;
    transition: all .2s;
        
    &:hover {
        background-color: $nav-bg-darkest;
    }
      
    a {
        color: $light-gray;
        
        &:hover {
            color: $white;
        }
    }
  }
}