$fa-font-path:   "../webfonts";


.container {
    padding: 1rem;
    
}


select {
    border-radius: 2px;
}

// amarillo
// #f1e96a

// rojiso
// #d25b5c

// azul
// #6a83co

// naranja
// #ebb533

// morado
// #663288

// bluegreen
// #7ab4b0

// amarillo sol
// #f0c43f

// naranja obscuro
// #d275sf

// violeta
// #b52067

// azul obscuro
// #625fa6

// verde obscuro
// #58968a

// verde limos
// #adcd65


.publicar {
    float: right;
}
    
  
