<ul class="vertical menu mobile-menu">
        <li class="menu-text a-title">Alumnica CCS</li>
        <li>
            &nbsp;
        </li>
        <li class="is-active">
            <a href="#"><div class="menu-image fas fa-home"></div><div class="m-text">Dashboard</div></a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a href="#"><div class="menu-image fas fa-map"></div><div>Ámbitos</div></a>
        </li>
        <li>
            <a href="#"><div class="menu-image fas fa-clone"></div><div>Materias</div></a>
        </li>
        <li>
            <a href="#"><div class="menu-image fas fa-list-alt"></div><div>ODAs</div></a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a href="#"><div class="menu-image fas fa-play-circle"></div><div>Momentos</div></a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a href="#"><div class="menu-image fas fa-images"></div><div>Biblioteca de Imagenes</div></a>
        </li>
        <li>
                &nbsp;
        </li>
        <li>
                <a href="#"><div class="menu-image fas fa-times-circle"></div><div>Cerrar Sesión</div></a>
        </li>
    </ul>
    