<ul class="vertical menu sidebar-menu__ul">
    <li id="dash-nav" class="is-active">
        <a href="dashboard.html"><div class="menu-image fas fa-home"></div><div class="m-text">Dashboard</div></a>
    </li>
    <li id="publicar-nav">
        <a href="#"><div class="menu-image fas fa-share-square"></div>Ámbitos a Publicar <div class="pub-counter">2</div></a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="ambito-nav">
        <a href="ambitos.html"><div class="menu-image fas fa-map"></div><div>Ámbitos</div></a>
    </li>
    <li id="materia-nav">
        <a href="materias.html"><div class="menu-image fas fa-clone"></div><div>Materias</div></a>
    </li>
    <li id="oda-nav">
        <a href="odas.html">
            <div class="menu-image fas fa-list-alt"></div>
            <div>ODAs</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="momento-nav">
        <a href="#"><div class="menu-image fas fa-play-circle"></div><div>Momentos</div></a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="bib-nav">
        <a href="biblioteca.html"><div class="menu-image fas fa-images"></div><div>Biblioteca de Imagenes</div></a>
    </l>
</ul>


<ul class="vertical menu logout">
    <li>
        <a href="#"><div class="menu-image fas fa-times-circle"></div><div>Cerrar Sesión</div></a>
    </li>
    <li class="version">
        v 0.6.0
    </li>
        
</ul>